{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="auth-form">
        <div class="auth-form__container">
            <div class="auth-form__header">
                <h1 class="auth-form__title">Please sign in</h1>
            </div>

            {% if error is defined and error is not null %}
                <div class="auth-form__alert auth-form__alert--error">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% if app.user %}
                <div class="auth-form__user-info">
                    You are logged in as {{ app.user.userIdentifier }}, 
                    <a href="{{ path('app_logout') }}" class="auth-form__logout-link">Logout</a>
                </div>
            {% endif %}

            <form method="post" class="auth-form__form">
                <div class="auth-form__input-group">
                    <label for="username" class="auth-form__label">Email</label>
                    <input type="email" 
                           value="{{ last_username }}" 
                           name="_username" 
                           id="username" 
                           class="auth-form__input auth-form__input--email" 
                           autocomplete="email" 
                           required 
                           autofocus>
                </div>

                <div class="auth-form__input-group">
                    <label for="password" class="auth-form__label">Password</label>
                    <input type="password" 
                           name="_password" 
                           id="password" 
                           class="auth-form__input auth-form__input--password" 
                           autocomplete="current-password" 
                           required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="auth-form__button" type="submit">
                    Sign in
                </button>
            </form>

            <div class="auth-form__register">
                <p class="auth-form__register-text">
                    Don't have an account?
                    <a href="{{ path('app_register') }}" class="auth-form__register-link">
                        Create one now
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
